<p id="notice"><%= notice %></p>
<div class="large-3 large-centered columns">
  <div class="edit-box">
    <div class="row">
      <div class="large-12 columns">
        <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label "Confirm Password" %>
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns">
              <%= f.submit "Save", class: "button expand"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
