<p id="notice"><%= notice %></p>
<div class="large-3 large-centered columns">
  <div class="edit-box">
    <div class="row">
      <div class="large-12 columns">
        <%= form_for(@user) do |f| %>
          <div class="row">
            <div class="large-12 columns">
              <%= f.text_field :first_name, placeholder: "First Name" %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.text_field :last_name, placeholder: "Last Name" %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.text_field :email, placeholder: "Email"  %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.password_field :password, placeholder: "Password"  %>
              <% if @user.errors.any? %>
                <% @user.errors.full_messages.each do |msg| %>
                  <small class="error"><%= msg %></small>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.password_field :password_confirmation, placeholder: "Confirm Password"  %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns">
              <% if @user.persisted? %>
                <%= f.submit "Save", class: "button expand"%>
              <% else %>
                <%= f.submit "Create", class: "button expand"%>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 large-centered columns" id="sign-up-link" >
              <% unless @user.persisted? %>
                <%= link_to "Back", login_path %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
