<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="#">
          TIYD-Rails TA Page
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#"><%= @user.name %></a>
        <ul class="dropdown">
          <li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
          <li><%= link_to 'Log Out', logout_path %></li>
          <li class="divider"></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-9 columns">
    <h4>Upload Today's Lecture Pictures</h4>
    <%= form_for @picture, html: { multipart: true } do |f| %>
      <%= f.file_field :uploaded_file %>
      <%= f.submit 'Upload', class: "radius button" %>
    <% end %>

    <div class="section-container tabs" data-section>
      <section class="section">
        <h5 class="title">Uploaded Pictures</h5>
      </section>
      <section class="section">
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-3">
            <% @user.pictures.each do |picture| %>
              <li>
                <%= picture.uploaded_file_file_name %>
                <%= image_tag picture.uploaded_file.url %>
                <div class="row">
                  <div class="large-10 small-10 columns">
                    <%= text_field_tag picture.uploaded_file.url, "#{picture.uploaded_file.url}" %>
                  </div>
                  <div class="large-2 small-2 columns">
                    <i class="fa fa-clipboard"></i>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
      </div>
    </div>
  </div>
</footer>
