<p id="notice"><%= notice %></p>

<h1><%= @user.name %>'s Uploads</h1>
<%= link_to 'Edit User Info', edit_user_path(@user) %> |

<%= link_to 'Log Out', logout_path, :class=> 'link submit-link logout' %>

</br>
<%= form_for @picture, html: { multipart: true } do |f| %>
  <%= f.file_field :uploaded_file %>
  <%= f.submit 'Upload' %>
<% end %>
</br>
<table>
  <thead>
    <th> File Name |</th>
    <th> Upload Date | </th>
    <th> URL </th>
  </thead>
</table>
<% @user.pictures.each do |picture| %>
  <table>
    <tbody>
      <tr> <%= picture.uploaded_file_file_name %>  | </tr>
      <tr> <%= picture.uploaded_file_updated_at.strftime "%Y-%m-%d" %> | </tr>
      <tr> <%= text_field_tag picture.uploaded_file.url, "#{picture.uploaded_file.url}" %> | <%= link_to "View Picture", picture.uploaded_file.url, target: "_blank" %> </tr>
    </tbody>
  </table>
<% end %>
