<p id="notice"><%= notice %></p>

<h1><%= @user.name %>'s Uploads</h1>

<%= link_to 'Log Out', logout_path, :class=> 'link submit-link logout' %>


<%= form_for @user, html: { multipart: true } do |f| %>
  <%= f.file_field :uploaded_file %>

  <%= f.submit 'Upload' %>

<% end %>

<table>
  <thead>
    <th> File Name |</th>
    <th> Extension |</th>
    <th> Upload Date </th>
  </thead>

  <tbody>
    <tr> <%= @user.uploaded_file_file_name %> </tr>
    <tr> <%= @user.uploaded_file_content_type %> </tr>
    <tr> <%= @user.uploaded_file_updated_at %> </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
